<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">

<xacro:arg name="config" default="$(find centauro_urdf)/urdf/config/centauro.urdf.xacro"/>

<!-- ************ MODEL CONFIGURATION ************ -->
<xacro:include filename="$(arg config)"/>

<!-- ************ Pholus plain model ************ -->
<xacro:include filename="$(find centauro_urdf)/urdf/centauro_base.urdf.xacro"/>

<!-- ************ Control frames ************ -->


<xacro:if value="${ADD_VIRTUAL_FRAME}">
  <xacro:include filename="$(find centauro_urdf)/urdf/parts/virtual_frame.urdf.xacro"/>
</xacro:if>

</robot>
