<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">

<!-- 
  ROS urdf definition of the CENTAURO humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo Hoffman
-->

<xacro:include filename="$(find centauro_urdf)/urdf/utils.urdf.xacro" />

<link name="base_link"/>

<link name="pelvis">
    <inertial>
      <origin xyz="0.0013890071 -0.0015989148 0.063101012"/>
      <mass value="16.097574"/>
      <inertia ixx="0.23912627" ixy="-0.0050541269" ixz="-0.019746055" iyy="0.71430078" iyz="0.0002131204" izz="0.81870448"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0 0.0"/>
      <geometry>
        <mesh filename="package://centauro_urdf/meshes/pelvis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0 0.0"/>
      <geometry>
        <mesh filename="package://centauro_urdf/meshes/simple/pelvis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
</link>


<joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="pelvis"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<!--xacro:if value="${ADD_UPPER_BODY}">
	<xacro:include filename="$(find pholus_urdf)/urdf/parts/torso.urdf.xacro" />
        <xacro:include filename="$(find pholus_urdf)/urdf/parts/arms.urdf.xacro" />
	<xacro:include filename="$(find pholus_urdf)/urdf/parts/head.urdf.xacro" />
</xacro:if-->

<!--xacro:if value="${ADD_LEGS}">
	<xacro:include filename="$(find pholus_urdf)/urdf/parts/legs.urdf.xacro" />
</xacro:if-->



</robot>

