<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">
  <!--
  ROS urdf definition of the PHOLUS humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use CENTAURO in GAZEBO
  
  -->

  <!-- This argument and property should be in the top level xacro and
  will be propagated to all its downstream childs -->
  <xacro:arg name="centauro_root" default="$(find centauro_urdf)" />  
  <xacro:property name="CENTAURO_ROOT" value="$(arg centauro_root)" />

    
  <xacro:include filename="${CENTAURO_ROOT}/urdf/centauro.urdf.xacro" />

  <xacro:include filename="${CENTAURO_ROOT}/urdf/gazebo/centauro.gazebo.xacro" />
   
  <xacro:include filename="${CENTAURO_ROOT}/urdf/gazebo/xbot.gazebo.xacro" />

  <xacro:include filename="${CENTAURO_ROOT}/urdf/gazebo/materials.gazebo.xacro" />
  
  <xacro:unless value="${ADD_LEGS}">

    <link name="world"/>
      <joint name="reference" type="fixed">
      <parent link="world"/>
      <child link="pelvis"/>
    </joint>

  </xacro:unless>

  <origin xyz="0.0 0.0 1.2" rpy="0 0 0" />
</robot>
