<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">
  <!--
  ROS urdf definition of the PHOLUS humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use CENTAURO in GAZEBO
  
  -->

  <!-- This argument and property should be in the top level xacro and
  will be propagated to all its downstream childs -->
  <xacro:arg name="root" default="$(find centauro_urdf)" />  
  <xacro:property name="ROOT" value="$(arg root)" />
  
  <!-- setting use_abs_mesh_paths should be kept to false
  for use with tools like RViz, which does not accept plain
  abolute paths for mesh paths-->
  <xacro:arg name="use_abs_mesh_paths" default="false" />  

  <xacro:property name="USE_ABS_MESH_PATHS" value="$(arg use_abs_mesh_paths)" />

  <xacro:if value="${USE_ABS_MESH_PATHS}">
    <xacro:property name="MESH_PATH" value="${ROOT}/meshes" />
  </xacro:if>
  <xacro:unless value="${USE_ABS_MESH_PATHS}">
    <xacro:property name="MESH_PATH" value="package://centauro_urdf/meshes" />
  </xacro:unless>

  <xacro:include filename="${ROOT}/urdf/centauro.urdf.xacro" />

  <xacro:include filename="${ROOT}/urdf/gazebo/centauro.gazebo.xacro" />
   
  <xacro:include filename="${ROOT}/urdf/gazebo/xbot.gazebo.xacro" />

  <xacro:include filename="${ROOT}/urdf/gazebo/materials.gazebo.xacro" />
  
  <xacro:unless value="${ADD_LEGS}">

    <link name="world"/>
      <joint name="reference" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>

  </xacro:unless>

  <origin xyz="0.0 0.0 1.2" rpy="0 0 0" />
</robot>
