<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="PHOLUS">

<xacro:property name="model_name" value="IIT PHOLUS" />
<xacro:property name="model_version" value="0.1" />

<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="ADD_LEGS" value="true" />
<xacro:property name="ADD_UPPER_BODY" value="true" />


<xacro:property name="ADD_FLOATING_BASE" value="true" />

<xacro:property name="USE_STICKS" value="false" />

</robot>
