<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pholus">
  <!--
  ROS urdf definition of the PHOLUS humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use PHOLUS in GAZEBO
  
  -->
  <xacro:include filename="$(find pholus_urdf)/urdf/pholus.urdf.xacro" />

  <xacro:include filename="$(find pholus_urdf)/urdf/gazebo/pholus.gazebo.xacro" />
 
  <xacro:include filename="$(find pholus_urdf)/urdf/gazebo/pholus_materials.gazebo.xacro" />
  
  <!--xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/force_torque.gazebo.xacro" />
  
  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/imu.gazebo.xacro" /-->


  <xacro:include filename="$(find pholus_urdf)/urdf/gazebo/xbot.gazebo.xacro" />



<origin xyz="0.0 0.0 1.2" rpy="0 0 0" />
</robot>

