<launch>

  <!-- Taken from centauro centauro_world_ros2.launch -->

  <!-- Gazebo configuration parameters -->
  <arg name="gazebo" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  
  <arg name="arms" default="true"/>
  <arg name="end_effector_left" default="ball"/>
  <arg name="end_effector_right" default="ball"/>
  <arg name="legs" default="true"/>
  <arg name="velodyne" default="false"/>
  <arg name="realsense" default="false"/>
  <arg name="d435i_head" default="false"/>
  <arg name="d435i_head_color_width" default="640"/>
  <arg name="d435i_head_color_height" default="480"/>
  <arg name="d435i_head_color_fps" default="30"/>
  <arg name="d435i_head_color_fx" default="606.4806518554688"/>
  <arg name="d435i_head_color_fy" default="606.4806518554688"/>
  <arg name="d435i_head_color_cx" default="326.2506103515625"/>
  <arg name="d435i_head_color_cy" default="254.5507049560547"/>
  <arg name="d435i_head_clip_distance" default="10.0"/>
  <arg name="d435i_head_clip_distance_min" default="0.175"/>

  <arg name="d435i_base" default="false"/>
  <arg name="t265_base" default="false"/>
  <arg name="battery" default="false"/>

  <arg name="world_name" default="$(find-pkg-share centauro_gazebo)/world/centauro.world"/>

  <!-- Convert paused and gui to Gazebo Sim arguments -->
  <let name="arg_paused" value="" if="$(var paused)"/>
  <let name="arg_paused" value="-r" unless="$(var paused)"/>
  
  <let name="arg_gui" value="" if="$(var gui)"/>
  <let name="arg_gui" value="-s" unless="$(var gui)"/>
  
  <let name="arg_verbose" value="--verbose" if="$(var verbose)"/>
  <let name="arg_verbose" value="" unless="$(var verbose)"/>

  <set_env name="GZ_SIM_RESOURCE_PATH" value="$(find-pkg-share centauro_urdf)"/>

  <group if="$(var gazebo)">
  
    <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <let name="urdf_command_gz"
        value="xacro $(find-pkg-share centauro_gazebo)/urdf/centauro_gazebo.urdf.xacro 
            floating_joint:=false 
            end_effector_left:=$(var end_effector_left) 
            end_effector_right:=$(var end_effector_right)
            upper_body:=$(var arms) 
            legs:=$(var legs) 
            velodyne:=$(var velodyne) 
            realsense:=$(var realsense) 
            d435i_head:=$(var d435i_head)
            d435i_head_color_width:=$(var d435i_head_color_width)
            d435i_head_color_height:=$(var d435i_head_color_height)
            d435i_head_color_fps:=$(var d435i_head_color_fps)
            d435i_head_color_fx:=$(var d435i_head_color_fx)
            d435i_head_color_fy:=$(var d435i_head_color_fy)
            d435i_head_color_cx:=$(var d435i_head_color_cx)
            d435i_head_color_cy:=$(var d435i_head_color_cy)
            d435i_head_clip_distance:=$(var d435i_head_clip_distance)
            d435i_head_clip_distance_min:=$(var d435i_head_clip_distance_min)
            d435i_base:=$(var d435i_base) 
            t265_base:=$(var t265_base)
            battery:=$(var battery)
            "/>

    <let name="urdf_command_xbot"
        value="xacro $(find-pkg-share centauro_gazebo)/urdf/centauro_gazebo.urdf.xacro 
        floating_joint:=true 
        upper_body:=$(var arms) 
        end_effector_left:=$(var end_effector_left) 
        end_effector_right:=$(var end_effector_right)
        legs:=$(var legs) 
        velodyne:=$(var velodyne) 
        realsense:=$(var realsense) 
        d435i_head:=$(var d435i_head)
        d435i_head_color_width:=$(var d435i_head_color_width)
        d435i_head_color_height:=$(var d435i_head_color_height)
        d435i_head_color_fps:=$(var d435i_head_color_fps)
        d435i_head_color_fx:=$(var d435i_head_color_fx)
        d435i_head_color_fy:=$(var d435i_head_color_fy)
        d435i_head_color_cx:=$(var d435i_head_color_cx)
        d435i_head_color_cy:=$(var d435i_head_color_cy)
        d435i_head_clip_distance:=$(var d435i_head_clip_distance)
        d435i_head_clip_distance_min:=$(var d435i_head_clip_distance_min)
        d435i_base:=$(var d435i_base) 
        t265_base:=$(var t265_base)
        battery:=$(var battery)
        "/>

    <let name="srdf_command"
        value="xacro $(find-pkg-share centauro_srdf)/srdf/centauro.srdf.xacro 
        floating_joint:=true 
        upper_body:=$(var arms)
        end_effector_left:=$(var end_effector_left) 
        end_effector_right:=$(var end_effector_right)
        legs:=$(var legs) 
        velodyne:=$(var velodyne) 
        realsense:=$(var realsense)
        d435i_head:=$(var d435i_head) 
        d435i_base:=$(var d435i_base) 
        t265_base:=$(var t265_base)
        battery:=$(var battery)
        "/>

    <!-- Publish robot description -->
    <node pkg="xbot2_ros" exec="robot_description_publisher" name="robot_description_publisher" output="screen">
      <param name="robot_description" value="$(command '$(var urdf_command_xbot)')" type="str"/>
      <param name="robot_description_semantic" value="$(command '$(var srdf_command)')" type="str"/>
    </node>

    <!-- Start Gazebo Sim (formerly Ignition Gazebo) -->
    <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
      <arg name="gz_args" value="$(var world_name) $(var arg_verbose) $(var arg_gui) $(var arg_paused)"/>
    </include>

    <!-- Spawn URDF model in Gazebo -->
    <node pkg="ros_gz_sim" exec="create" name="urdf_spawner">
      <param name="string" type="str" value="$(command '$(var urdf_command_gz)')"/>
      <param name="z" value="1.0"/>
    </node>

    <!-- ROS-Gazebo bridge for clock -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge_clock"
        args="/clock@rosgraph_msgs/msg/Clock[gz.msgs.Clock"/>

    <!-- ROS-Gazebo bridge for Camera (if enabled) -->
    <node if="$(var d435i_head)" pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge_d435i_head"
        args="/D435_head_camera/color@sensor_msgs/msg/Image[gz.msgs.Image
         /D435_head_camera/depth@sensor_msgs/msg/Image[gz.msgs.Image
         /D435_head_camera/depth/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
         /D435_head_camera/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo
         /D435_head_camera/color/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo">
      <remap from="/D435_head_camera/color" to="/D435_head_camera/color/image_raw"/>
      <remap from="/D435_head_camera/depth" to="/D435_head_camera/aligned_depth_to_color/image_raw"/>
      <remap from="/D435_head_camera/depth/points" to="/D435_head_camera/depth/color/points"/>
      <remap from="/D435_head_camera/color/camera_info" to="/D435_head_camera/color/camera_info"/>
      <remap from="/D435_head_camera/camera_info" to="/D435_head_camera/aligned_depth_to_color/camera_info_gz"/>
    </node>

    <!-- ROS-Gazebo bridge for Camera Info (workaround crazy gz frame issue) -->
    <!-- <node if="$(var d435i_head)" pkg="centauro_gazebo" exec="ros_gz_camera_workaround.py" name="head_cam_workaround_color" output="screen">
      <param name="input_topic" value="/D435_head_camera/color/camera_info_gz"/>
      <param name="output_topic" value="/D435_head_camera/color/camera_info"/>
      <param name="frame_id" value="D435_head_camera_gz_optical_frame"/>
    </node> -->

    <node if="$(var d435i_head)" pkg="centauro_gazebo" exec="ros_gz_camera_workaround.py" name="head_cam_workaround_depth" output="screen">
      <param name="input_topic" value="/D435_head_camera/aligned_depth_to_color/camera_info_gz"/>
      <param name="output_topic" value="/D435_head_camera/aligned_depth_to_color/camera_info"/>
      <param name="frame_id" value="D435_head_camera_gz_optical_frame"/>
    </node>

    <node if="$(var d435i_base)" pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge_d435i_base"
        args="/D435_base_camera/color/image_raw@sensor_msgs/msg/Image[gz.msgs.Image
         /D435_base_camera/aligned_depth_to_color/image_raw@sensor_msgs/msg/Image[gz.msgs.Image
         /D435_base_camera/depth/color/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
         /D435_base_camera/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo">
      <remap from="/D435_base_camera/camera_info" to="/D435_base_camera/color/camera_info"/>
    </node>

    <!-- ROS-Gazebo bridge for Velodyne (if enabled) -->
    <node if="$(var velodyne)" pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge_velodyne"
        args="/velodyne/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
         /velodyne/scan@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan"/>

  </group>

</launch>