<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">

    <gazebo reference="imu_link">
        <sensor name="imu_link" type="imu">
            <always_on>1</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </gazebo>

    <xacro:if value="${ADD_VELODYNE}">
        <gazebo reference="velodyne_calib">

            <sensor name='gpu_lidar' type='gpu_lidar'>
                <gz_frame_id>velodyne_calib</gz_frame_id>
                <pose relative_to='velodyne_calib'>0 0 0 0 0 0</pose>
                <topic>lidar</topic>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>640</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.1415</min_angle>
                            <max_angle>3.1415</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>16</samples>
                            <resolution>1</resolution>
                            <min_angle>-${15.0*M_PI/180.0}</min_angle>
                            <max_angle>${15.0*M_PI/180.0}</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.3</min>
                        <max>130.0</max>
                        <resolution>0.01</resolution>
                    </range>
                </ray>
                <always_on>1</always_on>
                <visualize>true</visualize>
            </sensor>

        </gazebo>
    </xacro:if>

    <xacro:if value="${ADD_D435I_HEAD}">
        <link name="D435_head_camera_gz_optical_frame" />

        <joint name="D435_head_camera_gz_optical_frame_joint" type="fixed">
            <parent link="D435_head_camera_link" />
            <child link="D435_head_camera_gz_optical_frame" />
            <origin xyz="0 0 0" rpy="${-PI_2} 0 ${-PI_2}" />
        </joint>

        <gazebo reference="D435_head_camera_link">
            <sensor name="rgbd_camera_depth" type="depth_camera">
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>320</width>
                        <height>240</height>
                    </image>
                    <clip>
                        <near>0.3</near>
                        <far>10</far>
                    </clip>
                    <camera_info_topic>D435_head_camera/depth/camera_info</camera_info_topic>
                </camera>
                <gz_frame_id>D435_head_camera_link</gz_frame_id>

                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <topic>D435_head_camera/depth</topic>
                <enable_metrics>true</enable_metrics>
            </sensor>
        </gazebo>

        <gazebo reference="D435_head_camera_link">
            <sensor name="rgbd_camera_color" type="camera">
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>320</width>
                        <height>240</height>
                    </image>
                    <clip>
                        <near>0.3</near>
                        <far>10</far>
                    </clip>
                    <optical_frame_id>D435_head_camera_gz_optical_frame</optical_frame_id>
                    <camera_info_topic>D435_head_camera/color/camera_info</camera_info_topic>
                </camera>
                <gz_frame_id>D435_head_camera_gz_optical_frame</gz_frame_id>

                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <topic>D435_head_camera/color</topic>
                <enable_metrics>true</enable_metrics>
            </sensor>
        </gazebo>
    </xacro:if>

</robot>