<launch>

    <!-- Taken from centauro centauro_world_ros2.launch -->

    <!-- Gazebo configuration parameters -->
    <arg name="gazebo" default="true" />
    <arg name="paused" default="false" />
    <arg name="gui" default="true" />
    <arg name="verbose" default="false" />

    <arg name="arms" default="true" />
    <arg name="end_effector_left" default="ball" />
    <arg name="end_effector_right" default="ball" />
    <arg name="legs" default="true" />
    <arg name="velodyne" default="false" />
    <arg name="realsense" default="false" />
    <arg name="d435i_head" default="false" />
    <arg name="d435i_base" default="false" />
    <arg name="battery" default="false" />

    <let name="urdf_command"
        value="xacro $(find-pkg-share centauro_urdf)/urdf/centauro.urdf.xacro 
    floating_joint:=true 
    upper_body:=$(var arms) 
    end_effector_left:=$(var end_effector_left) 
    end_effector_right:=$(var end_effector_right)
    legs:=$(var legs) 
    velodyne:=$(var velodyne) 
    realsense:=$(var realsense) 
    d435i_head:=$(var d435i_head)
    d435i_base:=$(var d435i_base) 
    battery:=$(var battery)
    " />


    <!-- Robot State Publisher: publishes /robot_description and TF frames -->
    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="robot_description" value="$(command '$(var urdf_command)')" type="str"/>
    </node>

    <!-- Joint State Publisher GUI: publishes /joint_states with interactive sliders -->
    <node pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />

    <!-- RViz -->
    <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen" />

</launch>