<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- This is probably not mandatory unless gazebo plugin -->
<xacro:if value="${FORCE_TORQUE_SENSORS}">

<link name="l_arm_ft"/>
<joint name="l_arm_ft_joint" type="fixed">
       <!--origin xyz="0 0 -0.02" rpy="0 0 0" /-->
	<parent link="arm1_6"/>
	<child link="l_arm_ft"/>
</joint>

<link name="r_arm_ft"/>
<joint name="r_arm_ft_joint" type="fixed">
       <!--origin xyz="0 0 -0.02" rpy="0 0 0" /-->
	<parent link="arm2_6"/>
	<child link="r_arm_ft"/>
</joint>

</xacro:if>

</robot>
