<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- This is an attempt to model rod plate, the file is based on the ball hand -->

<xacro:macro name="rod_plate_end_effector" params="arm_num parent_link *origin">

<link name="rod_plate${arm_num}">
    <inertial>
      <origin xyz="${4.8407693e+01*mmTom} ${2.0035723e+01*mmTom} ${7.7533287e+01*mmTom}" rpy="0 0 0"/>
      <mass value="3.45345"/>
      <inertia ixx="${2.3061092e+03*mm2Tom2}"  ixy="${2.9181758e-01*mm2Tom2}"  ixz="${-2.1246684e-01*mm2Tom2}" iyy="${2.3053155e+03*mm2Tom2}" iyz="${7.9290978e-01*mm2Tom2}" izz="${3.0675616e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="3.14 0.0 0.0"/>
      <geometry name="rod_plate${arm_num}_visual">
        <mesh filename="package://centauro_urdf/meshes/simple/RodPlate.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="rod_plate${arm_num}_collision">
        <mesh filename="package://centauro_urdf/meshes/simple/RodPlate.stl" scale="0.001 0.001 0.001" />
      </geometry>
   </collision>
</link>

<link name="rod_plate${arm_num}_tip"/>


<joint name="j_arm${arm_num}_8" type="fixed">
      <parent link="${parent_link}"/>
      <child link="rod_plate${arm_num}"/>
      <xacro:insert_block name="origin"/>
</joint>

<joint name="j_rod_plate${arm_num}_tip" type="fixed">
	<parent link="rod_plate${arm_num}"/>
	<child link="rod_plate${arm_num}_tip"/>
	<origin xyz="0 -0.174 -0.049" rpy="0 0 0"/>
</joint>

<!-- add armX_8 link for legacy reasons (same as ballX) -->
<joint name="j_rod_plate${arm_num}_fixed" type="fixed">
      <parent link="rod_plate${arm_num}"/>
      <child link="arm${arm_num}_8"/>
</joint>

<link name="arm${arm_num}_8">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
</link>

</xacro:macro>

</robot>
