<launch>

    <arg name="ik" default="$(find-pkg-share centauro_cartesio_config)/centauro_manipulation_stack.yaml" />
    <arg name="gui" default="false" />
    <arg name="markers" default="false" />
    <arg name="xbot" default="false" />

    <set_remap
        if="$(var xbot)"
        from="/robot_description"
        to="/xbotcore/robot_description" />

    <set_remap
        if="$(var xbot)"
        from="/robot_description_semantic"
        to="/xbotcore/robot_description_semantic" />


    <include file="$(find-pkg-share cartesian_interface_ros)/launch/cartesio.launch.xml">
        <arg name="rate" value="100.0" />
        <arg name="problem_description_filename" value="$(var ik)" />
        <arg name="markers" value="$(var markers)" />
        <arg name="joint_ctrl_mode"
            value="{ankle_yaw_1: 0, ankle_yaw_2: 0, ankle_yaw_3: 0, ankle_yaw_4: 0, j_wheel_1: 0, j_wheel_2: 0, j_wheel_3: 0, j_wheel_4: 0}" />
    </include>

    <node if="$(var gui)" pkg="rviz2" exec="rviz2" name="rviz" output="screen"
        args="-d $(find-pkg-share centauro_cartesio)/config/centauro.rviz" />


</launch>