<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">

    <xacro:property name="model_name" value="centauro" />
    <xacro:property name="model_version" value="0.1" />


    <!-- command line arguments -->
    <xacro:arg name="add_legs" default="true"/>
    <xacro:arg name="add_upper_body" default="true"/>
    
    <xacro:arg name="end_effector_left" default="ball"/> <!-- none, ball, dagana_fixed, dagana -->
	<xacro:arg name="end_effector_right" default="ball"/> <!-- none, ball, dagana_fixed, dagana -->

    <!-- ************SELECT PARTS*************-->
    <!-- *************************************-->
    <xacro:property name="ADD_LEGS" value="$(arg add_legs)" />
    <xacro:property name="ADD_UPPER_BODY" value="$(arg add_upper_body)" />

	<xacro:property name="END_EFFECTOR_LEFT" value="$(arg end_effector_left)" />
	<xacro:property name="END_EFFECTOR_RIGHT" value="$(arg end_effector_right)" />
    
    <!-- HACK to add standalone dagana plugin and ignore the dagana joint in the libxbot2_gz_joint_server -->
    <!-- This property is used in the gazebo/xbot.gazebo.xacro file -->
    <!-- In future, xbot will be able to ignore end-effectors in the hal and this should not be neccesary anymore -->
    <xacro:property name="DAGANA_STANDALONE_PLUGIN" value="true" />

    <xacro:property name="ADD_FLOATING_BASE" value="$(arg add_legs)" />
    <xacro:property name="ADD_VIRTUAL_FRAME" value="true" />

    <xacro:property name="USE_STICKS" value="false" />

    <xacro:property name="ADD_VELODYNE" value="true" />
    <xacro:property name="ADD_D435I_HEAD" value="false" />
    <xacro:property name="ADD_D435I_BASE" value="false" />
    <xacro:property name="ADD_T265_BASE" value="false" />
    
</robot>
